<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Tutorial</title>
	<style>
		table, th, td {border: 1px solid black;}
	</style>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
	<h1>Django Website Test</h1>

	<h4>Programming Languages</h4>
	<ul>
		<li>Python</li>
		<li>Java</li>
	</ul>

	<table style="width: 30%">
		<tr>
			<th>Python</th>
			<th>Java</th>
		</tr>
		<tr>
			<td>Sublime Text</td>
			<td>VS Code</td>
		</tr>
	</table>
</body>
</html>